body{
	padding-top:70px;
}

footer{
	background-color: #EEE;
	border-top: 10px solid #BBB;
	font-size: 14px;
	padding: 20px;
	text-align: center;
}

.box-principal{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.titulo{
	text-align: center;
}

.imagen-avatar{
	width: 60px;
	height: 60px;
}